body{
  margin: 0%;
}
.header1{
  color: black;
  padding: 1%;
}
.header2{
    background-image: url(coder.jpg);
    background-size: cover;
    color: white;
    font-size: 30px;
    padding:3%;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    transition: 1s;
}
.marquee{
  padding: 0.5%;
  font-size: 50px;
  font-family: 'Baloo Paaji 2', cursive;
}
.cursive{
  font-family: 'Baloo Paaji 2', cursive;
}
.h1{
  font-size: large;
  font-family: 'Baloo Paaji 2', cursive;
}
.backround{
  text-align: center;
}

.horizontalline{
  border: 0;
  height: 0; 
  width: 100%;
}


.hobbies{
  font-size: 75px;
  font-family: 'Baloo Paaji 2', cursive;

}

.aboutme{
  font-size: 35px;
  font-family: 'Baloo Paaji 2', cursive;
}

 
.div{
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 100px;
}
.header2:hover{
  color: black;
  transition: 1s;
  background-image: url(coders.jpg);
}
.footer{
  background-color: rgb(5, 5, 5);
  height: 20%;
  box-shadow: 0 0 9px 5px black;
  transition: 1s;

}

.s-m{
  justify-content: space-around;
  display: flex;
  max-width: 700px;
  position: relative;
  top: 35%;
  left: 21%;
  height: 120px;
}
.s-m a{
  text-decoration:none;
  font-size: 28px;
  color: black;
  width: 60px;
  height: 60px;
  text-align: center;
  transition: 0.4s all;
  line-height: 58px;
  cursor: default;
  background: white;
  border-radius: 50%;
  margin-top: 25px;
}
.s-m a:hover{
  transform: scale(1.2);
  color: white;
  background: black;
  box-shadow: 0 0 3px 3px black;
}